<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gradget</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
          <li><a href="/step1">Check Progression</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</head>
<body>
  <h1> Program_code: {{program_code}}, (Commence Year: {{commence_year}} Major: {{major}}) </h1>


  <h1 class="text-center"> <small clss="text-muted">Progression Check</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active">Step 1: Select your program</button>
          <button type="button" class="list-group-item list-group-item-action">Step 2: Select your courses</button>
          <button type="button" class="list-group-item list-group-item-action">Step 3: View your progression report</button>
        </div>
      </div>

      <div class="col-lg-8">
        <form class="bd-example">
  <fieldset>
    <legend>1. Select your Courses</legend>
    <p>
      <label for="input">Search the courses that you've completed and add them to the list below.</label>
      <input id="input" placeholder="Search course" type="text">
      <button type="submit" class="btn btn-success">Add</button>
    </p>
  </fieldset>
  <div class="table-responsive">
  <table class="table">
    <caption>List of Completed Courses</caption>
  <thead>
    <tr>
      <th scope="col">UOC</th>
      <th scope="col">Course Code</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6</th>
      <td>COMP1511</td>
      <td>Introduction to Programming</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>COMP2521</td>
      <td>Data Structures and Algorithms</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>MATH1081</td>
      <td>Data Structures and Algorithms</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>MATH1131</td>
      <td>Mathematics 1A</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
  <tr>
      <th scope="row">6</th>
      <td>MATH1231</td>
      <td>MATH1231 Mathematics 1B</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>COMP2521</td>
      <td>Data Structures and Algorithms</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>COMP2041</td>
      <td>Software Construction</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>COMP2911</td>
      <td>Eng. Design in Computing</td>
      <button type="button" class="btn btn-outline-danger">Remove</button>
    </tr>
  </tbody>
  </table>
</div>
      </div>    
    </div>
  </div>
</body>
</html>