<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gradget</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
          <li><a href="/step1">Check Progression</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="/logout">Log Out</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</head>
<body>

          <!-- Modal for the Previous Alert -->
<div class="modal fade" id="previousAlertModal" tabindex="-1" role="dialog" aria-labelledby="previousAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previousAlertModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to go back? Save your Course Plan now and download it. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a role="button" href="/step2" class="btn btn-primary">Continue</a>
      </div>
    </div>
  </div>
</div>


  <h1 class="text-center"> <small clss="text-muted">Progression Check</small></h1><small clss="text-muted">

  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action">Step 1: Select your program</button>
          <button type="button" class="list-group-item list-group-item-action">Step 2: Select your courses</button>
          <button type="button" class="list-group-item list-group-item-action">Step 3: View your progression report</button>
          <button type="button" class="list-group-item list-group-item-action active">Step 4: View your Course Plan</button>
        </div>
      </div>

      <div class="col-lg-8">
        <form class="bd-example">
  <fieldset>
    <legend>Course Plan</legend>
  </fieldset></form>
  <div class="table-responsive">

<!-- #######################################################################################-->
<h4>Year {{plan_year}}</h4>
  <!-- begining of the block is hard coded-->
  {% for semester in schedule %}
     {% if (loop.index + plan_sem - 2) % 3 == 0 %}
     <!-- reprinting the heading of the block-->
      <h4>Year {{ (plan_year + (loop.index + plan_sem - 2)/3)|int }}</h4>
     <!-- reprinting the heading of the block-->
     {% endif %}
    <table class="table">
      <h5>Trimester {{(loop.index + plan_sem - 2) % 3 + 1 }}</h5>
    <thead>
      <tr>
        <th scope="col">Course Code</th>
        <th scope="col">Name</th>
        <th scope="col">UOC</th>
        <th scope="col">Other terms offered in</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for course in semester %}
      <tr>
        <th scope="row">{{course}}</th>
        <td>Look up name here</td>
        <td>6</td>
        <td>
          <span class="badge badge-success">Sem1</span>
          <span class="badge badge-warning">Sem2</span>
          <span class="badge badge-warning">Sem3</span>
          <span class="badge badge-info">Summer</span>
        </td>
        <td><button type="button" class="btn btn-outline-danger">View Course</button></td>
      </tr>
      {% endfor %}  
    </tbody>
    </table>
  {% endfor %}  
   




</div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#previousAlertModal">Previous</button>
      <button type="button" class="btn btn-success">Download PDF</button>
      </div>    
    </div>
  </div>
</small>

<div class="container-fluid" style="height: 200px">
<!-- Add Padding for the footer -->
</div>
</body>
</html>